<footer class="site-footer container">
    <div class="social">
        {{#if @site.facebook}}
            <a class="social-item social-item-facebook"
                href="{{facebook_url @site.facebook}}" target="_blank"
                rel="noopener noreferrer" aria-label="Facebook">
                <svg class="icon">
                    <use xlink:href="#facebook-box"></use>
                </svg>
            </a>
        {{/if}}
        {{#if @site.twitter}}
            <a class="social-item social-item-twitter"
                href="{{twitter_url @site.twitter}}" target="_blank"
                rel="noopener noreferrer" aria-label="Twitter">
                <svg class="icon">
                    <use xlink:href="#twitter-box"></use>
                </svg>
            </a>
        {{/if}}
        <a class="social-item social-item-rss"
            href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/"
            target="_blank" rel="noopener noreferrer" aria-label="RSS">
            <svg class="icon">
                <use xlink:href="#rss-box"></use>
            </svg>
        </a>
    </div>

    <div class="cover-cta">
        <form data-members-form="subscribe">
            <div class="subscribe-success">Thanks for subscribing! We've sent you and email to confirm your subscription!</div>
            <div class="subscribe-error">Sorry something went wrong :(. Try again later</div>
            <div class="cta-container">
                <input data-members-email type="email" required="true" placeholder="Add your email here..."/>
                <button class="button members-subscribe" type="submit">Subscribe</button>
            </div>
        </form>
    </div>
</footer>